<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>"Team Name: #{params[:team_name]}"</h1>
    <h2>Coach: <input type="text" name="coach"></h2>
    <h2>Point Guard: <input type="text" name="point_guard"></h2>
    <h2>Shooting Guard: <input type="text" name="shooting_guard"></h2>
    <h2>Small Forward: <input type="text" name="small_forward"></h2>
    <h2>Power Forward: <input type="text" name="power_forward"></h2>
    <h2>Center: <input type="text" name="center"></h2>

 
 </body>
</html>


